{% extends "index.html" %}
{% block content %}

<div class="content" id="experiment-article-section-5-content">
	<form id="quiz-form">
		<b>Add Question</b><br/><br/>
		<b>Your Question : </b><input style="width: 50%;" type="text" name="a1" id="a1" required> <br/><br/><br/>
		<b>Add Answer</b><br/><br/>
		<b>Your Answer : </b><input style="width: 50%;" type="text" name="a2" id="a2" required><br/><br/><br/>
		<center><input type="submit" value="Submit your Answer" id="quiz-form-submit"></center> 
	</form>
	<!-- <button id="show-correct"></button> -->
	<!-- <a href = "check"><button id="show-all"></button></a>
	<div id="correct-answers"></div> -->
</div>

{% endblock content %}